<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donationapp">
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logs5"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logs5"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Requestdonation"/>
        <activity android:name=".Rquestdonation" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LogsActivity" />
        <activity android:name=".ChatboardActivity" />
        <activity android:name=".DonationOfferActivity" />
        <activity android:name=".FoodsActivity" />
        <activity android:name=".MpesaActivity" />
        <activity android:name=".ClothesActivity" />
        <activity android:name=".AdminPortal" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ShowDonReq" />
        <activity android:name=".AddDonReq" />
        <activity android:name=".CoronaInfo" />
        <activity android:name=".DonationRequests"/>
        <activity android:name=".Donation" />
        <activity android:name=".ResetPassActivity"/>
        <activity android:name=".valuedactivity" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".OnBoardingScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DonorPerson"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="Map">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC5FA454jSA6jNJL8r47LOXctnq8IKst4k" />

        <receiver
            android:name=".GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>


</manifest>